.home{
flex-grow: 1; 
min-height:var(--app-height);
display: flex;
align-items: center;
}
.container {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  padding-top: 20px;
  margin: 50px auto;
  width: 80%;
  max-width: 800px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.container h1 {
  font-family: "Starjedi";
  margin: 20px;
  color: #fff;
  text-align: center;
}

p {
  padding: 0 20px;
  color: #fff;
  text-align: center;
}
.search-bar {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 18px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  margin-top: 50px;
  padding: 0 10px;
}
.search {
  flex-grow: 1;
  padding: 8px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 17px;
  color: #111;
  height: 100%;
  box-sizing: border-box;
}

.search::placeholder {
  color: #666;
}

@media screen and (max-width: 600px) {
  .search-bar {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 10px;
    margin-top:20px;
  }
  .search {
    width: 100%;
    text-align: center;
  }

  select {
    background-color: transparent;
    padding: 8px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    height: 100%;
    width: 100%;
    font-size: 16px;
    color: #333;
  }
  button[type="submit"] {
    width: 90%;
    margin-top: 12px;
  }
}

select {
  background-color: transparent;
  padding: 8px;
  border-radius: 5px;
  border: none;
  outline: none;
  margin: 0 10px;
  cursor: pointer;
  height: 100%;
  font-size: 16px;
  color: #333;
}

button[type="submit"] {
  background-color: rgb(86, 134, 153);
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 26px;
  font-size: 17px;
  padding: 6px 16px;
  border-radius: 18px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

button[type="submit"] span {
  padding-left: 5px;
}

button[type="submit"]:hover {
  background-color: #444;
}
